@font-face {
  font-family: 'btitle';
  src: url('./fonts/basictitlefont.eot');
  src: url('./fonts/basictitlefont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/basictitlefont.otf') format('opentype'),
       url('./fonts/basictitlefont.woff') format('woff'),
       url('./fonts/basictitlefont.ttf') format('truetype');
}

body {
  margin: 0 auto;
  text-align: center;
  font-family:'Roboto', sans-serif;
  color: #fff;
  background-color: #000;
}

#myMenu {
  position:fixed;
  top: 10px;
  right: 10px;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
}

#myMenu li {
  display: inline-block;
  padding: 10px;
  color: #fff;
	background:#36454f;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: "btitle", sans-serif;

}

#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}

#myMenu li a{
  text-decoration: none;
  color: #fff;
}

.section {
  padding: 0px 20px 0px 20px;
}

.section h1 {
  margin: 0 auto;
  text-align: center;
  font-variant: small-caps;
  font-weight: 400;
  font-family: "btitle", sans-serif;
  font-size: 48px;
}

.home {
  background-color: #000;
}

#name {
  font-size: 120px;
  font-family: 'Oswald', sans-serif;

}

#job-title {
  font-size: 72px;
  font-family: "btitle", sans-serif;
  font-variant: small-caps;
}

.about h1 {
  margin-bottom: 0px 0px 40px 0px;
}

.content {
  /*border: 1px solid black;*/
  display: inline-block;
  max-width: 800px;
  margin: 10px 0px 50px 0px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

.content p {
  max-width: 80%;
  margin: 0 auto;
  top: 6px;
  position: relative;
  font-size: 20px;
}

.content h3 {
  font-size: 20px;
  margin: 50px;
}

.content h3 a {
  text-decoration: none;
  color: inherit;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
            border-radius: 10px;
  padding: 10px;
  font-family: "btitle", sans-serif;
}

.container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.about img {
  max-width: 65%;
  max-height: 80%;
  vertical-align: middle;
}

.about h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 34px;
}

.highlight-1 {
  font-family: "btitle", sans-serif;
  color: #70B16A;
}

.highlight-2 {
  font-family: "btitle", sans-serif;
  color: #55D5E0;
}

.highlight-3 {
  color: #E11E2C;
}

.highlight-4 {
  color: #A255A4;
}


.skills h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0px 0px 40px 0px;
}

.skills-viz {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.skills-viz img {
  max-width: 100%;
}


.skills .type {
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
            border-radius: 10px;
  padding: 10px;
  font-family: "btitle", sans-serif;
  width: 100px;
  font-size: 20px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 100;
}

#d3 {
  margin: 0 auto;
  text-align: center;
}

.viz {
  margin: 0 auto;
  text-align: center;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.types {
  font-family: "btitle", sans-serif;
  fill: #fff;
}


.slide-title{
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0px 0px 40px 0px;
}


.slide p {
  margin: 0 auto;
  text-align: center;
  max-width: 850px;
  padding-bottom: 10px;
}

.slide a {
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
}

.slide a:link, a:visited {
  color: #1C617C;
}

.slide a:hover {
  color: #FD8A2B;
}


.sshot {
  max-width:50%;
  margin: 0 auto;
}

.sshot img{
  max-width: 100%;
  /*box-shadow: 0 0 2px #666;*/
  background: #000;
}

.cactus img {
  max-width: 85%;
  vertical-align: middle;
}

.slide h2 {
  font-family: "btitle", sans-serif;
  margin: 5px;
}

.slide h4 {
  margin: 5px 5px 20px 5px;
}

.contact {
  background-color: #000;
}

.contact h1{
  margin: -15px 0px 50px 0px;
}

.info {
  margin: 0 auto;
}

.info-type {
  font-weight: bold;
}

.info a {
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
}

.info a:link, a:visited {
  color: #1C617C;
}

.info a:hover {
  color: #FD8A2B;
}


.footer {
  margin-top: 200px;
}

.footer p {
  margin: 0;
  padding: 5px;
  color: #bfbfbf;
  font-weight: bold;
}

/* Clip text element */
.clip-text {
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: .25em
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  background-position: 50% 50%;
}

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
    background-image: url("images/cuadros.png");
}

.clip-text_two {
  background-color: #FFF;
}

.clip-text_three {
  background-image: url("images/leather-nunchuck.png");
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin: 0;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 600px)
 {

  body {
    margin: 0 auto;
  }
  .section {
    margin: 0 auto;
  }
  #myMenu {
    padding-top: 20px;
    text-align: center;
  }
  #myMenu li {
    font-size: 30px;
  }
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 30px;
  }
  p {
    font-size: 26px;
    line-height: normal;
  }
  span a{
    font-size: 30px;
  }
  #name {
    font-size: 110px;
  }
  .content {
    width: 80%;
  }
  .container {
    display: block;
  }
  .photo {
    width: 80%;
  }
  .about img {
    /*margin-top: 20px;*/
    max-width: 80%;
  }

  .skills-viz {
    width: 100%;
  }
  .skills-viz img {
    max-width: 80%;
  }
  .sshot {
    max-width: 80%;
  }
}
